<div class="container">
	<div class="alert alert-info" role="alert">
		<p>For demo purpose, please login in with</p> 
		Account: 123@gmail.com
		Password: 123
	</div>
	<form class="form-signin" ng-submit="login()">
		<h2 class="form-signin-heading">Please sign in</h2>
		<label for="inputEmail" class="sr-only">Email address</label>
		<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus ng-model="email">
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="password">
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	</form>
</div>